body {
  font-family: $font-family; 
  font-weight: 300;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.text-left {
  @include text-left;
}

.text-right {
  @include text-right;
}

.text-center {
  @include text-center;
}

.upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

.normal-case {
  text-transform: unset;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.truncate-text {
  @include truncate-text;
}