$primary-color: $darkcyan;
$secondary-color: $darkgray;

$primary-background-color: $darkgray;
$secondary-background-color: $clouds;

$primary-brand-color: $darkcyan;
$secondary-brand-color: $darkgray;

$warning-color: $orange;
$danger-color: $red;
$success-color: $green;
$disabled-color: $subduedgray;
