// -----------------------------------------------------------------------------
// Gray Palette
// -----------------------------------------------------------------------------

$darkgray                  : #2c3643;
$titlegray                 : #3b444f;
$bodygray                  : #67747c;
$lightgray                 : #99a9b3;
$subduedgray               : #dbe6ec;
$clouds                    : #ECF0F1;


// -----------------------------------------------------------------------------
// Primary Palette
// -----------------------------------------------------------------------------

$darkblue                  : #142b44;
$navblue                   : #1d508d;
$lpblue                    : #297CBB;
$linkblue                  : #288ad6;
$teal                      : #0FDEBD;
$green                     : #16c98d;
$yella                     : #feef6d;
$orange                    : #ffc83f;
$red                       : #fa5e5b;
$plum                      : #bf538d;


// -----------------------------------------------------------------------------
// Secondary Palette
// -----------------------------------------------------------------------------

$mauve                     : #684e79;
$pink                      : #ff708e;
$darkcyan                  : #00897B;
$softblue                  : #8abee5;
$softgreen                 : #c7e6aa;
$beige                     : #cfcbaf;
$maroon                    : #582c2b;
$darkred                   : #841e1b;
$turquoise                 : #1ABC9C;
$greensea                  : #16A085;



// -----------------------------------------------------------------------------
// Color list
// -----------------------------------------------------------------------------

$color-palette-names: darkgray titlegray bodygray lightgray subduedgray darkblue navblue lpblue linkblue teal green yella orange red plum mauve pink darkcyan softblue softgreen beige maroon darkred;

$color-palette: $darkgray $titlegray $bodygray $lightgray $subduedgray $darkblue $navblue $lpblue $linkblue $teal $green $yella $orange $red $plum $mauve $pink $darkcyan $softblue $softgreen $beige $maroon $darkred;
