
/* Border & Background */
@mixin border($border, $color, $px: 2px, $style: solid) {
  @if $border == top {
    border-top: $px $style $color;
  }
  @else if $border == bottom {
    border-bottom: $px $style $color;
  }
  @else if $border == right {
    border-right: $px $style $color;
  }
  @else if $border == left {
    border-left: $px $style $color;
  }
  @else {
    border: $px $style $color;
  }
}

@mixin no-border($noBorder) {
  @if $noBorder == top {
    border-top: none;
  }
  @else if $noBorder == bottom {
    border-bottom: none;
  }
  @else if $noBorder == right {
    border-right: none;
  }
  @else if $noBorder == left {
    border-left: none;
  }
  @else {
    border: none;
  }
}

@mixin background-opacity($color, $opacity: 0.5) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}