/* Box */
@mixin height-auto {
  height: auto;
}

@mixin width-auto {
  width: auto;
}

@mixin width-height-auto {
  width: auto;
  height: auto;
}

@mixin reset-margin {
  margin: 0;
}

@mixin margin($margin: '', $px: 5px) {
  @if $margin != '' {
    margin-#{$margin}: $px;
  }

  @else {
    margin: $px;
  }
}

@mixin reset-padding {
  padding: 0;
}

@mixin padding($padding: '', $px: 5px) {
  @if $padding != '' {
    padding-#{$padding}: $px;
  }

  @else {
    padding: $px;
  }
}
