@mixin transition($value...) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
       -o-transition: $value;
          transition: $value;
}

@mixin transition-property($value...) {
  -webkit-transition-property: $value;
     -moz-transition-property: $value;
      -ms-transition-property: $value;
       -o-transition-property: $value;
          transition-property: $value;
}
@mixin transition-duration($value...) {
  -webkit-transition-property: $value;
     -moz-transition-property: $value;
      -ms-transition-property: $value;
       -o-transition-property: $value;
          transition-property: $value;
}
@mixin transition-timing-function($value...) {
  -webkit-transition-timing-function: $value;
     -moz-transition-timing-function: $value;
      -ms-transition-timing-function: $value;
       -o-transition-timing-function: $value;
          transition-timing-function: $value;
}
@mixin transition-delay($value...) {
  -webkit-transition-delay: $value;
     -moz-transition-delay: $value;
      -ms-transition-delay: $value;
       -o-transition-delay: $value;
          transition-delay: $value;
}