.right {
  float: right;
}

.left {
  float: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear-both {
  clear: both;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.header {
  color: $primary-color;
  font-size: $header-font-size;
}

.details {
  margin: 20px;
}