.text-left {
  @include text-left;
}

.text-right {
  @include text-right;
}

.text-center {
  @include text-center;
}

.upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

.normal-case {
  text-transform: unset;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.truncate-text {
  @include truncate-text;
}
