/*Sidebar*/
.drawer {
  > div {
    top: 64px!important;
  }

  .drawer-container {
    background-color: $primary-background-color!important;
    width: 64px;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
  }

  @at-root {
    &__item {
      color: $subduedgray!important;

      svg {
        fill: $subduedgray!important;
      }
    }
  }
}
/*Ends Sidebar*/