
.change-page-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.change-page-enter.change-page-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.change-page-leave {
  opacity: 0;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  // transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.change-page-leave.change-page-leave-active {
  opacity: 0;
  transform:   translate(250px,0);
  transform: translate3d(250px,0,0);
}


// .change-page-enter {
//   opacity: 0.01;
// }

// .change-page-enter.change-page-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }

// .change-page-leave {
//   opacity: 0.01;
// }

// .change-page-leave.change-page-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }